<!-- public/views/routine.html -->

<div class="jumbotron" ng-controller="RoutineController">
    <h1>create new routines</h1>

    <div>
	    <label style="padding-right:10px;">Name</label>
		<input type="text" ng-model="newRoutineName" ng-maxlength="50">
	</div>
	<div>
		<label style="padding-right:10px;">Hour</label>
		<input type="number" ng-model="newRoutineHour" ng-maxlength="2">
	</div>
	<div>
		<label style="padding-right:10px;">Minute</label>
		<input type="number" ng-model="newRoutineMinute" ng-maxlength="2">
	</div>
	<div>
		<label style="padding-right:10px;">Day Of Week</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="checkboxWeekDayModel.sunday" ng-true-value=true ng-false-value=false> Sunday
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="checkboxWeekDayModel.monday" ng-true-value=true ng-false-value=false> Monday
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="checkboxWeekDayModel.tuesday" ng-true-value=true ng-false-value=false> Tuesday
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="checkboxWeekDayModel.wednesday" ng-true-value=true ng-false-value=false> Wednesday
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="checkboxWeekDayModel.thursday" ng-true-value=true ng-false-value=false> Thursday
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="checkboxWeekDayModel.friday"  ng-true-value=true ng-false-value=false> Friday
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="checkboxWeekDayModel.saturday"  ng-true-value=true ng-false-value=false> Saturday
		</label>
	</div>
		<div>
		<label style="padding-right:10px;">Extra Features</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="checkboxFeatureModel.getQotd" ng-true-value=true ng-false-value=false> Get Qotd?
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" ng-model="checkboxFeatureModel.getWeather" ng-true-value=true ng-false-value=false> Get Weather?
		</label>
		<p>{{checkboxFeatureModel.getWeather}}</p>
	</div>
	<div>
		<label style="padding-right:10px;">Message</label>
		<input type="text" ng-model="newRoutineMessage"></input>
	</div>
	<button ng-click="createRoutine()">Create</button>


    <h1> existing routines </h1>
    <p>{{ tagline }}</p>

	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Name</th>
	      <th>Time</th>
	      <th>Day of Week</th>
	      <th>Message</th>
	      <th>Delete?</th>
	    </tr>
	  </thead>
	  <tbody ng-repeat="value in routines">
	    <tr data-toggle="collapse" data-target="#row-{{$index}}" class="accordion-toggle" >
	      <td>{{$index+1}}</td>
	      <td>{{value.name}}</td>
	      <td>{{value.hour}}:{{value.minute}}</td>
	      <td>{{value.dayOfWeek}}</td>
	      <td>{{value.message}}</td>
  		  <td><i class="fa fa-times ha-icon" ng-click="deleteRoutine(value)"></i></td>
	    </tr>
	    <tr>
	    	<td colspan="6" class="hiddenRow">
	    		<div id="row-{{$index}}" class="accordian-body collapse">
	    			<pre>{{value | json}}</pre>
	    		</div>
	    	</td>
	    </tr>
  	  </tbody>
	</table>
</div>